<!DOCTYPE html>
<html><head><script src="//archive.org/includes/analytics.js?v=cf34f82" type="text/javascript"></script>
<script type="text/javascript">window.addEventListener('DOMContentLoaded',function(){var v=archive_analytics.values;v.service='wb';v.server_name='wwwb-app221.us.archive.org';v.server_ms=153;archive_analytics.send_pageview({});});</script>
<script type="text/javascript" src="/_static/js/bundle-playback.js?v=36gO9Ebf" charset="utf-8"></script>
<script type="text/javascript" src="/_static/js/wombat.js?v=UHAOicsW" charset="utf-8"></script>
<script type="text/javascript">
  __wm.init("https://web.archive.org/web");
  __wm.wombat("https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/ThirdVaccineDoseQandA.aspx","20211119014848","https://web.archive.org/","web","/_static/",
	      "1637286528");
</script>
<link rel="stylesheet" type="text/css" href="/_static/css/banner-styles.css?v=fantwOh2" />
<link rel="stylesheet" type="text/css" href="/_static/css/iconochive.css?v=qtvMKcIJ" />
<!-- End Wayback Rewrite JS Include -->

<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="-1"/>
<meta http-equiv="CacheControl" content="no-cache"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="shortcut icon" href="data:;base64,iVBORw0KGgo="/>

<script type="text/javascript">
(function(){
window["bobcmn"] = "101111111110102000000052000000052000000062000000012ba4bc175200000096200000000200000002300000000300000000300000006/TSPD/300000008TSPD_10130000000cTSPD_101_DID300000005https3000000b0087ed344cfab20004ba96b4bdaf01a2ba8c05de10409ef55bc3321f2213e93071d1769cd7a7f91fd084872cc050a2800b77c1970a3225ef94a07278eff8ed83ae51a5c075eb1537fc518653f03d01c20309399b443cae992300000002TS200000000200000000";

window.Cyd=!!window.Cyd;try{(function(){(function(){})();var OL=26;try{var zL,SL,iL=O(897)?0:1,JL=O(551)?1:0,Lo=O(16)?1:0,Oo=O(616)?0:1;for(var Zo=(O(464),0);Zo<SL;++Zo)iL+=O(101)?2:1,JL+=O(1E3)?1:2,Lo+=(O(938),2),Oo+=O(905)?1:3;zL=iL+JL+Lo+Oo;window.lJ===zL&&(window.lJ=++zL)}catch(io){window.lJ=zL}var jo=!0;function Z(L){var z=arguments.length,s=[];for(var I=1;I<z;++I)s.push(arguments[I]-L);return String.fromCharCode.apply(String,s)}
function lo(L){var z=71;!L||document[S(z,189,176,186,176,169,176,179,176,187,192,154,187,168,187,172)]&&document[Z(z,189,176,186,176,169,176,179,176,187,192,154,187,168,187,172)]!==_(68616527595,z)||(jo=!1);return jo}function S(L){var z=arguments.length,s=[],I=1;while(I<z)s[I-1]=arguments[I++]-L;return String.fromCharCode.apply(String,s)}function oO(){}lo(window[oO[_(1086828,OL)]]===oO);lo(typeof ie9rgb4!==_(1242178186173,OL));
lo(RegExp("\x3c")[_(1372179,OL)](function(){return"\x3c"})&!RegExp(_(42863,OL))[_(1372179,OL)](function(){return"'x3'+'d';"}));
var ZO=window[Z(OL,123,142,142,123,125,130,95,144,127,136,142)]||RegExp(S(OL,135,137,124,131,150,123,136,126,140,137,131,126),_(-8,OL))[_(1372179,OL)](window["\x6e\x61vi\x67a\x74\x6f\x72"]["\x75\x73e\x72A\x67\x65\x6et"]),sO=+new Date+(O(273)?6E5:476403),SO,IO,JO,lO=window[S(OL,141,127,142,110,131,135,127,137,143,142)],Lz=ZO?O(326)?3E4:44963:O(919)?7719:6E3;
document[Z(OL,123,126,126,95,144,127,136,142,102,131,141,142,127,136,127,140)]&&document[Z(OL,123,126,126,95,144,127,136,142,102,131,141,142,127,136,127,140)](Z(OL,144,131,141,131,124,131,134,131,142,147,125,130,123,136,129,127),function(L){var z=82;document[Z(z,200,187,197,187,180,187,190,187,198,203,165,198,179,198,183)]&&(document[S(z,200,187,197,187,180,187,190,187,198,203,165,198,179,198,183)]===_(1058781901,z)&&L[Z(z,187,197,166,196,199,197,198,183,182)]?JO=!0:document[S(z,200,187,197,187,180,
187,190,187,198,203,165,198,179,198,183)]===_(68616527584,z)&&(SO=+new Date,JO=!1,zz()))});function zz(){if(!document[Z(25,138,142,126,139,146,108,126,133,126,124,141,136,139)])return!0;var L=+new Date;if(L>sO&&(O(388)?6E5:663520)>L-SO)return lo(!1);var z=lo(IO&&!JO&&SO+Lz<L);SO=L;IO||(IO=!0,lO(function(){IO=!1},O(926)?0:1));return z}zz();var Zz=[O(870)?13003667:17795081,O(21)?27611931586:2147483647,O(903)?795967516:1558153217];
function sz(L){var z=46;L=typeof L===_(1743045630,z)?L:L[S(z,162,157,129,162,160,151,156,149)](O(614)?40:36);var s=window[L];if(!s||!s[S(z,162,157,129,162,160,151,156,149)])return;var I=""+s;window[L]=function(L,z){IO=!1;return s(L,z)};window[L][S(z,162,157,129,162,160,151,156,149)]=function(){return I}}for(var Sz=(O(43),0);Sz<Zz[Z(OL,134,127,136,129,142,130)];++Sz)sz(Zz[Sz]);lo(!1!==window[S(OL,93,147,126)]);window.Oj=window.Oj||{};window.Oj._z="08926161e4018000f2f7099ecb07160d7d3282af33702feedeabd31d1328fc0d19f076d3da9d7e8338364fbefcdd49349314129a2711694ec91b5f3fa761c0aa94e2807d185b5f3d2a186560cfa374df66d1afe661f63a129a93312b164155676d174f5ab21d6f9f300debea3b9e861d26dc31c97d91a8fc3831ae71ad2ec7d531df213448e1c3f5";
function _z(L){var z=+new Date,s;!document[S(22,135,139,123,136,143,105,123,130,123,121,138,133,136,87,130,130)]||z>sO&&(O(716)?761018:6E5)>z-SO?s=lo(!1):(s=lo(IO&&!JO&&SO+Lz<z),SO=z,IO||(IO=!0,lO(function(){IO=!1},O(328)?1:0)));return!(arguments[L]^s)}function _(L,z){L+=z;return L.toString(36)}function O(L){return 585>L}
(function(){var L=/(\A([0-9a-f]{1,4}:){1,6}(:[0-9a-f]{1,4}){1,1}\Z)|(\A(([0-9a-f]{1,4}:){1,7}|:):\Z)|(\A:(:[0-9a-f]{1,4}){1,7}\Z)/ig,z=document.getElementsByTagName("head")[0],s=[];z&&(z=z.innerHTML.slice(0,1E3));while(z=L.exec(""))s.push(z)})();})();}catch(x){
}finally{ie9rgb4=void(0);};function ie9rgb4(a,b){return a>>b>>0};

})();

</script>

<script type="text/javascript" src="/web/20211119014848js_/https://www.cdph.ca.gov/TSPD/087ed344cfab20004c4bd6f23728404889e29e086c0dfa8378e3301b50486a635565a64e9e5ffea3?type=11"></script>

<script type="text/javascript">
(function(){
window["blobfp"] = "01010101b00400000100e803000000000d4200616432316533613062343063316665663030363139373032383039633063306531373064636364343033306231393534393564353038613338613231316462643166210068747470733a2f2f72652e73656375726974792e66356161732e636f6d2f72652f0700545350445f3734";window["slobfp"] = "08926161e40b100028b4188ad7a05e9a3f11ce85169e4c07";


})();

</script>

<script type="text/javascript" src="/web/20211119014848js_/https://www.cdph.ca.gov/TSPD/087ed344cfab20004c4bd6f23728404889e29e086c0dfa8378e3301b50486a635565a64e9e5ffea3?type=12"></script>
<noscript>Please enable JavaScript to view the page content.<br/>Your support ID is:  1828994737816126058.</noscript>
</head><body>
</body></html><!--
     FILE ARCHIVED ON 01:48:48 Nov 19, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:46:06 Apr 25, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 56.169
  exclusion.robots: 0.096
  exclusion.robots.policy: 0.084
  RedisCDXSource: 0.552
  esindex: 0.006
  LoadShardBlock: 31.685 (3)
  PetaboxLoader3.datanode: 59.687 (4)
  CDXLines.iter: 18.921 (3)
  load_resource: 92.671
  PetaboxLoader3.resolve: 44.534
-->